/* CSS for Login Page */

body {
    background-image: url("2020-10-17.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    /* align content to the right */
    margin-right: 50px;
    align-items: center;
    /* vertically center content */
    height: 100vh;
    /* 100% of viewport height */
    background-color: #f0f0f0;
    /* background color */
}

.login-container {
    width: 350px;
    /* width of the login container */
    padding: 20px;
    /* padding inside the container */
    background-color: #fff;
    /* container background color */
    border: 1px solid #ccc;
    /* container border */
    border-radius: 5px;
    /* rounded corners */
    text-align: center;
    /* center align content */
}

.login-container h2 {
    margin-bottom: 20px;
    /* space below heading */
}

.login-container form label {
    display: block;
    /* display labels as block elements */
    margin-bottom: 5px;
    /* space between labels and inputs */
    text-align: left;
    /* left align label text */
}

.login-container form input[type="text"],
.login-container form input[type="password"] {
    width: calc(100% - 22px);
    /* full width minus padding and border */
    padding: 10px;
    /* padding inside text input */
    margin-bottom: 10px;
    /* space between inputs */
    border: 1px solid #ccc;
    /* input border */
    border-radius: 3px;
    /* rounded corners */
}

.login-container form input[type="submit"] {
    width: 100%;
    /* full width button */
    padding: 10px;
    /* padding inside button */
    background-color: #007bff;
    /* button background color */
    color: #fff;
    /* button text color */
    border: none;
    /* remove button border */
    border-radius: 3px;
    /* rounded corners */
    cursor: pointer;
    /* show pointer on hover */
}

.g-signin2 {
    font-weight: bold; /* Make the button bold */
    text-align: center; /* Center the button horizontally */
    margin-top: 20px; /* Add margin to the top for spacing */
    margin-bottom: 20px;
}

.g-signin2 > div {
    display: inline-block; /* Ensure the button behaves as an inline-block element */
}
